:root {
    --c1: #00a8a8;
    --c2: #0c6980;
    --c3: #1f628e;
    --c4: #c0f0f7;
    --gray:         #222222;
    --light-gray:   #EEEEEE;
    --main-font: 'Montserrat', sans-serif;
    --body-font: 'Montserrat', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    font-family: var(--body-font);
    font-weight: 300;
    font-optical-sizing: auto;
    background-color: var(--light-gray);
    background: url(../img/tdah/absurdity.png);
    color: var(--gray);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: manual;
    hyphenate-limit-chars: 1 1 1;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    line-height: 1.15;
    hyphens: inherit;
    cursor: default;
}

a {
    cursor: pointer;
}

em {
    font-style: normal;
    font-weight: 500;
}

main {
    width: 100%;
}

section {
    width: 90%;
    padding: 10vh 5% 0;
}

main p {
    margin-bottom: 0.5em;
    text-align: justify;
}

#banner {
    height: 70vh;
    font-size: 1.5rem;
    padding: 0 5%;
}

#banner #h1, #banner p {
    text-align: center;
}

#titulo {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    height: 8rem;
}

#titulo h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}

.tdah > span {
    display: inline-block;
    animation: blink var(--t) infinite forwards;
}

.tdah > span:nth-child(n) {
    --t: 2s;
    --font-1: "Love Ya Like A Sister";
    --font-2: "Montserrat Alternates";
    --font-3: "Momo Signature";
    --font-4: "Fontdiner Swanky";
    --color-1: var(--c1);
    --color-2: var(--c2);
    --color-3: var(--c3);
    --color-4: var(--c4);
}

.tdah > span:nth-child(2n) {
    --t: 5s;
    --font-1: "Fontdiner Swanky";
    --font-2: "Quintessential";
    --font-3: "Montserrat Alternates";
    --font-4: "Momo Signature";
    --color-1: var(--c2);
    --color-2: var(--c3);
    --color-3: var(--c1);
    --color-4: var(--c4);
}

.tdah > span:nth-child(3n) {
    --t: 3s;
    --font-1: "Quintessential";
    --font-2: "Momo Signature";
    --font-3: "Fontdiner Swanky";
    --font-4: "Love Ya Like A Sister";
    --color-1: var(--c3);
    --color-2: var(--c4);
    --color-3: var(--c2);
    --color-4: var(--c1);
}

.tdah > span:nth-child(4n) {
    --t: 7s;
    --font-1: "Momo Signature";
    --font-2: "Love Ya Like A Sister";
    --font-3: "Quintessential";
    --font-4: "Montserrat Alternates";
    --color-1: var(--c2);
    --color-2: var(--c1);
    --color-3: var(--c4);
    --color-4: var(--c3);
}

#titulo h1 .tdah {
    font-size: 5rem;
}

#todo-mundo::before, #todo-mundo::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    transform: translateY(-100%);
    background-color: inherit;
    mask-image: url(../img/tdah/wave.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
    -webkit-mask-image: url(../img/tdah/wave.svg);
    z-index: 1;
}

#todo-mundo::after {
    mask-image: url(../img/tdah/wave-2.svg);
    -webkit-mask-image: url(../img/tdah/wave-2.svg);
    background-color: var(--c1);
    z-index: 0;
}

#todo-mundo {
    position: relative;
    background-color: var(--c3);
    color: var(--light-gray);
    margin-top: 5vh;
    font-size: 1.25em;
    padding-bottom: 10vh;
}

#todo-mundo h2 {
    color: inherit;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 1rem;
    color: var(--c3);
}

.expandir {
    display: inline-block;
    height: 0px;
    width: 0px;
    overflow: hidden;
}

summary {
    display: flex;
    align-items: center;
}

details:open .expandir {
    width: max-content;
    height: auto;
}

#referencias {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5vh;
}

#referencias section {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#referencias h3 {
    font-weight: bold;
    font-size: 1.25em;
    color: var(--c1);
}

#referencias > ul {
    display: flex;
    flex-direction: column;
}

#referencias li {
    display: block;
    padding: 1rem 0.5rem;
    margin-top: 1rem;
    background-color: var(--c1);
    color: var(--light-gray);
    border-radius: 5px;
}

#referencias p:first-child,
#referencias a {
    font-weight: bold;
}

#referencias p {
    margin: 0;
}

footer {
    margin-top: 10vh;
    padding: 5vh 5%;
    background-color: var(--c2);
    color: var(--light-gray);
    position: relative;
    z-index: 1;
}

footer::before {
    content: '';
    display: block;
    width: 120%;
    height: 5vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-60%) rotate(-1deg);
    background-color: inherit;
    z-index: 0;
}

footer > h2 {
    color: inherit;
}

#autores {
    padding: 0;
    width: 100%;
}

#autores h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--c4);
    margin-top: 1.5rem;
}

#autores > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

#autores > ul > li {
    display: flex;
}

#autores > ul > li > * {
    border: 1px solid var(--c4);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25em;
    transition: all 0.15s linear;
    margin: 0;
}

#autores > ul > li > *:hover {
    background-color: var(--c4);
    color: var(--gray);
}

#designer {
    margin-top: 10vh;
    font-weight: bold;
    text-align: center;
}

#designer .high {
    display: inline-block;
    color: var(--c4);
    animation: float 1s infinite forwards;
}

#designer .high:first-of-type {
    animation: pulse 1.5s infinite forwards;
}

#designer > a {
    text-decoration: underline dotted var(--c4);
    text-underline-offset: 2px;
}

@keyframes blink {
    0% { font-family: var(--font-1); color: var(--color-1); }
    25% { font-family: var(--font-2); color: var(--color-2); }
    50% { font-family: var(--font-3); color: var(--color-3); }
    100% { font-family: var(--font-4); color: var(--color-4); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    20% { transform: scale(1.1); }
    40% { transform: scale(1); }
    60% { transform: scale(1.1); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

@keyframes float {
    0% { transform: translateY(0%); }
    20% { transform: translateY(5%); }
    80% { transform: translateY(-5%); }
    100% { transform: translateY(0%); }
}

@media screen and (orientation: landscape) {
    
    html,body {
        font-size: 18px;
    }

    #referencias {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    #referencias > h2 {
        grid-column: 1/3;
    }

}